.cove {
  font-family: "cove";
}

.container {
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  position: relative;
  height: 10vh;
}

.time {
  margin: auto 0 0 .5rem;
}

.body {
  background-color: #eee;
  display: flex;
  height: 90vh;
}

.inventory,
.actions,
.automation-logger-container {
  max-width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #333;

  &-body {
    width: 100%;
    padding-right: .25rem;
    overflow-x: clip;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #333;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #333;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      border-radius: 0.5rem;
    }
  }
}

.automation,
.logger {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 50%;
}

.logger {
  background-color: black;
  border-top-left-radius: 1rem;
  width: 100%;
  padding-right: .25rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #000;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: .25rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 0.5rem;
  }

}

.log {
  color: wheat;
  white-space: normal;
  word-break: break-all;
  max-width: 33vw;

  margin: 0.25rem;
  padding: 0.5rem;
  border: 1px solid gray;
  background-color: #333;
  border-radius: 0.5rem;
}

.save-name {
  position: absolute;
  right: 1em;
  cursor: pointer;
}

.sub.header {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.75rem;
}

.slot {
  display: flex;
  margin: .25rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #111;
  border-radius: 0.25rem;
  background-color: #444;

  .item {
    display: flex;
    width: 100%;
    position: relative;

    .count {
      position: absolute;
      right: 0;
    }
  }
}

.action {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #111;
  border-radius: 0.25rem;
  background-color: #444;
  overflow-x: visible;

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: left;
  }

  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem 0.25rem;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: #444;

    &-header {
      display: flex;
      width: 100%;
      position: relative;

      &-show {
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }
  }

  &-items {
    padding-left: 1.5rem;
    background-color: #555;
    border-radius: .5rem;
  }

  &-item {
    background-color: #333;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: .5rem;
    padding-right: 0;
    display: flex;
    position: relative;

    &-runner {
      background-color: #111;
      position: absolute;
      writing-mode: vertical-rl;
      text-orientation: upright;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: .5rem;
      border-radius: .5rem;

      &.can-run {
        color: wheat;
        
        &:hover {
          background-color: #222;
          color: black;
        }
      }
    }
  }

  &-tooltip {
    :not(:last-child) {
      margin-bottom: .5rem;
    }
  }
}

.requirements, .results {
  display: flex;
  flex-direction: column;

  &-header{
    margin-bottom: .5rem;
    margin-right: auto;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

  .tooltip-text {
    visibility: hidden;
    width: fit-content;
    min-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: .75rem;
    border-radius: .5rem;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;

    top: -5%;
    left: 110%;

    &::after {
      content: " ";
      position: absolute;
      top: .5rem; /* At the bottom of the tooltip */
      right: 100%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .modal-content {
    border: #111 1px solid;
    border-radius: 0.5rem;
    background-color: #333;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      border-bottom: 1px solid #111;

      * {
        margin: 0 auto;
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;

      *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

#save-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #111;
  border-radius: 0.25rem;
  background-color: #444;
}

#save-button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #111;
  border-radius: 0.25rem;
  background-color: #444;
}

#save-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  white-space: nowrap;

  * {
    margin: 0;
  }

  *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

#save-drop {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #111;
  border-radius: 0.5rem;
  background-color: #444;
}

#inner-save-drop {
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  border: 2px rgb(75, 75, 75) dashed;
  border-radius: 0.5rem;

  &.file-over {
    border-color: #111;
    background-color: #555;
  }
}

#wipe-save {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #111;
  border-radius: 0.5rem;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wipe-save-button {
  color: rgb(126, 0, 0);
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #444;
  text-align: center;
}
